<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
    <title th:text="${title}">Base html</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="fixed-top navbar navbar-expand-lg navbar-light" style="background-color:chartreuse;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>Insurance Management System</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"th:href="@{/}" href="#"><strong>Home</strong></a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="#"
           
           tabindex="-1" aria-disabled="true"><strong><span th:text="${user.name}"></span></strong></a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}" href="#" tabindex="-1" aria-disabled="true"><strong>Logout</strong></a>
        </li>
        
      </ul>
      
      
    </div>
    
  </div>
  
</nav>
   

<!-- endnavbar-->
    
    
    <!-- Sidebar -->
    <div class="sidebar mt-2">
    
        <span onclick="toggleSidebar()" class="crossBtn" >&times;</span> 
        
         <a id="home-link" href="#" th:href="@{/user/index}" class="item active"><i class="fas fa-home"></i><strong>Home</strong> </a>
         <a id="viewPolicies-link" href="#" th:href="@{/user/show-policies/0}"class="item"><i class="fas fa-id-card-alt"></i><strong>View Policies</strong></a>
         <a id="addPolicy-link" href="#" th:href="@{/user/add-policy}" class="item"><i class="fas fa-pencil-alt"></i><strong>Add Policy</strong></a>
         <a id="yourProfile-link" href="#" th:href="@{/user/profile}"class="item"><i class="fas fa-user-circle"></i><strong> Your Profile</strong></a>
         <a id="settings-link" href="#" th:href="@{/user/settings}" class="item"><i class="fas fa-cogs"></i><strong> Settings</strong></a>
         <a  href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i><strong>Logout</strong></a>
        
         <div class="divider"></div>
    
    </div>
    
    <!-- End sidebar -->
    
    <!-- Content area -->
    
    <div class="content mt-5">
      
       <marquee  behavior="scroll" direction="left"
           onmouseover="this.stop();"
           onmouseout="this.start();" bgcolor="red" vspace="25px" height="30"><strong style="font-size: medium;color:aliceblue; font-style: oblique; word-spacing: 10px;">Welcome  to  Insurance  Management  System!!!...</strong> </marquee>
       <i onclick="toggleSidebar()" class="fas fa-bars m-3"></i> 

       <!--Message Box-->
       <div th:if="${session.message}" class="container">
         <div th:classappend="${'alert-'+session.message.type}" class="alert  text-center" roles="alert">
           <span th:text="${session.message.content}"></span>
         </div>

         <th:block th:text="${#session.removeAttribute('message')}"></th:block>
       </div>
      
       <div th:replace="${content}"></div>
        
      </div>
    
    <!-- End content area -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      function deletePolicy(pid){
        swal({
            title: "Are you sure?",
            text: "You want to delete this policy...",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
            window.location="/user/delete/"+pid;
        } else {
            swal("Your policy is safe!");
        }
      });
    } 
    </script>
    <script th:src="@{/js/script.js}"></script>
    
    
  </body>
</html>