<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
     <meta charset="UTF-8"/>
     <title>This is home page</title>
</head>
<body>
      <section>
         <div class="container">
             <div class="row">
              
                 <div class="col-md-8 offset-md-2">
                    
                    <div class="my-card mt-1">
                    
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
                      <p th:text="${session.message.content}"></p>
                      
                      <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    
                    <div class="container text-center">
                      <img class="" style="width:80px;" th:src="@{/img/register.png}" alt=""/>
                    </div>
                        <h1 class="text-center">Register here!!</h1>
                        <form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
                        
                            <!-- name field -->
                            
                            <div class="form-group">
                                    <h1></h1>
                                    <label for="name_field">Your Name</label>
                                    <h5></h5>
                                    <input
                                    name="name"
                                    type="text" 
                                    class="form-control" 
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                                    id="name_field" 
                                    placeholder="Enter here" 
                                    aria-describedby="emailHelp"
                                    required
                                    th:value="${user.name}"
                                    />
                                    
                                    <div class="invalid-feedback" th:each="e:${#fields.errors('name')}"th:text="${e}">
                                        
                                    </div>
                                      
                                    
                            </div>
                            
                            
                            
                             <!-- id field -->
                             <div class="form-group">
                                    <h1></h1>
                                    <label for="codeNo_field">Your Code Number</label>
                                    <h5></h5>
                                    <input 
                                    name="codeNo"
                                    type="text" 
                                    class="form-control" 
                                    th:classappend="${#fields.hasErrors('codeNo') ? 'is-invalid':''}"
                                    id="codeNo_field" 
                                    placeholder="Enter here" 
                                    aria-describedby="emailHelp"
                                    required
                                    th:value="${user.codeNo}"
                                    />
                                     
                                     <div class="invalid-feedback" th:each="e:${#fields.errors('codeNo')}"th:text="${e}">
                                        
                                    </div>  
                                      
                                    
                            </div>
                            
                            <!-- Email field -->
                             <div class="form-group">
                                    <h1></h1>
                                    <label for="email_field">Your Email</label>
                                    <h5></h5>
                                    <input 
                                    name="email"
                                    type="text" 
                                    class="form-control" 
                                    id="email_field" 
                                    placeholder="Enter here" 
                                    aria-describedby="emailHelp"
                                    required
                                    th:value="${user.email}"
                                    />
                                      
                                    
                            </div>
                            
                            <!-- password field -->
                             <div class="form-group">
                                    <h1></h1>
                                    <label for="password_field">Your password</label>
                                    <h5></h5>
                                    <input 
                                    name="password"
                                    type="password" 
                                    class="form-control" 
                                    id="password_field" 
                                    placeholder="Enter here" 
                                    aria-describedby="emailHelp"
                                    required
                                    
                                    />
                                      
                                    
                            </div>
                            
                            
                            <!-- terms and conditions agreement -->
                            
                            
                            <div class="form-group form-check text-center">
                              
                              <label for="agreement">
                                  <input type="checkbox"
                                  name="agreement"
                                  class="form-check-input"
                                  id="agreement"
                                  
                                  />Accept terms and conditions</label>
                              
                            </div>
                            
                            
                            <div class="container text-center">
                              
                              <h1></h1>
                              <button type="submit" class="btn bg-primary text-white">
                                  Submit
                              </button>
                               <button type="reset" class="btn btn-warning ">
                                  Reset
                              </button>
                            
                            </div>
                            
                            
                        
                        </form>
                    
                    </div>
                    
                 </div>
                
             </div>
         </div>
        
      </section>
</body>
</html>